<!DOCTYPE html>

<section class="page-section" id="about">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">Una página web donde encontrarás un ranking y estadísticas actualizadas de los juegos que son tendencia en la actualidad.</h3>
      </div>
      <div class="row text-center">
          
          <div class="col-md-4">
            <i class="bi bi-star-half" id="icon1"></i>
              <h4 class="my-3">Top 10 de los juegos</h4>
              <p class="text-muted">Aquí encontrarás mensualmente el top 10 de los mejores videojuegos del momento, basada en las reseñas de la comunidad de jugadores.</p>
          </div>

          <div class="col-md-4">
            <i class="bi bi-tags" id="icon2"></i>
            <h4 class="my-3">Categorías</h4>
            <p class="text-muted">Encontrarás diferentes categorías como acción, aventura, estrategia, RPG, deportes y muchos más. </p>
          </div>

        <div class="col-md-4">      
          <i class="bi bi-download" id="icon3"></i>
          <h4 class="my-3">Descarga</h4>
          <p class="text-muted">Podrás conocer cuántas veces ha sido intaldo el videojuego y cuanto pesa.</p>
      </div>
          
      </div>
  </div>
</section>