<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Serviios</h2>
            <h3 class="section-subheading text-muted">Algunos de nuestros servicios son:</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Ranking</h4>
                <p class="text-muted">Mostramos un ranking de los juegos más descargados por medio de Google Play Store.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Portafolio</h4>
                <p class="text-muted">Tenemos un pequeño portafolio con los 6 primeros juegos más descargados.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Gráficos</h4>
                <p class="text-muted">Ponemos a su disposición un gráfico de las califiaciones totales de los 15 juegos más descargados.</p>
            </div>
        </div>
    </div>
  </section>
